version: '3.6'

services:
   mariadb:
                image: mariadb
                container_name: nextcloud-mariadb
                volumes:
                        - Mariadb:/var/lib/mysql
                        - /etc/localtime:/etc/localtime:ro
                environment:
                        - MYSQL_ROOT_PASSWORD=my_r001-p1ss30rd.
                        - MYSQL_PASSWORD=my_sq1_p1ss30rd.
                        - MYSQL_DATABASE=nextclouddb
                        - MYSQL_USER=nextcloud
                restart: always

   app:
                image: nextcloud:latest
                container_name: nextcloud-app
                depends_on:
                        - mariadb
                volumes:
                        - nextcloud:/var/www/html
                        - ./app/config:/var/www/html/config
                        - ./app/custom_apps:/var/www/html/custom_apps
                        - /nextclouddata:/var/www/html/data
                        - ./app/themes:/var/www/html/themes
                        - /etc/localtime:/etc/localtime:ro
                        - ./zzzconfig_upload.ini:/usr/local/etc/php/conf.d/zzzconfig_upload.ini

                environment:
                        - VIRTUAL_HOST=nextcloud.lekwi.de
                        - VIRTUAL_PORT=80
                        - LETSENCRYPT_HOST=nextcloud.lekwi.de
                        - LETSENCRYPT_EMAIL=luiskre@gmail.com
                expose:
                        - 80
                restart: always
volumes:

     nextcloud:
     Mariadb:

networks:
  default:
    external:
      name: nginx-proxy